@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 252, 252, 252;
  --foreground: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
  }
} */

::-webkit-scrollbar {
  /* width: 4px; */
  display: none;
}

/* ::-webkit-slider-thumb {
  
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
  transition: color 0.3s, background-color 0.3s;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.fade-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, #fff 10%, #ffffff00);
  z-index: 10;
}

.fade-effect::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, #fff 10%, #ffffff00);
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .fade-effect::before,
  .fade-effect::after {
    opacity: 0;
  }
}

.show_scroll::-webkit-scrollbar {
  display: block;
  width: 4px;
}

.show_scroll::-webkit-scrollbar-thumb {
  background: #e63946;
}

input,
button {
  outline: none !important;
}

@keyframes pulse_ {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse__ {
  animation: pulse_ 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
