@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
  }
} */

::-webkit-scrollbar {
  /* width: 4px; */
  display: none;
}

/* ::-webkit-slider-thumb {
  
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
  transition: color 0.3s, background-color 0.3s;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
